
PC/Main/MazeSolveMain/build/

PC/Main/MazeSolveMain/gradle/

PC/Main/MazeSolveMain/.gradle/

PC/Main/Solver/.gradle/


PC/Main/Solver/build/

PC/Main/Solver/gradle/


PC/Unit Test/testButton/build/

PC/Unit Test/testButton/.gradle/

PC/Unit Test/testButton/gradle/

PC/Main/MazeSolveMain/.idea/serialmonitor_settings.xml

PC/Main/Solver - Main/.gradle/6.1.1/executionHistory/executionHistory.bin
